    <footer class="footer">
      <div class="p2 wrap" style="background-color: #1a1a1a !important; color: #fff !important">
        <div class="measure mt1 center">
          <small>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a>
            <br>
            Sadržaj sajta sekcije, kao i svi postavljeni dokumenti su licencirani pod 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> licencom.
          </small>
        </div>
      </div>
    </footer>

    <!-- Highlight -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Google Analytics -->
    {{ partial "google_analytics.html" . }}

</body>
</html>
