<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sekcija primenjene fizike i elektronike u Novom Sadu">
  <meta name="author" content="PFE Sekcija">
  <meta name="keywords" content="pfe, primenjena, fizika, elektronika, novi sad, sekcija, petnica, nauka, robotika, mašinsko učenje, programiranje">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/favicon.png" />

  <!-- Custom CSS -->
  <!-- Those css minifined and combined together. See combined-min.css below
  <link rel="stylesheet" type="text/css" href="/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css"> -->

  <!-- Highlight -->
  <!-- Also minified and combined into combined-min.css
  <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->

  <!-- Fonts -->
  <!-- Combined and minified
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'> -->

  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/combined-min.css">

</head>
<body class="">
